*{
    font-family: 'system-ui';
}

h1 {
    text-align: center;
    color: #800080;
    font-size: 2rem;
}

img{
    text-align: center;
    width: 80vw;
    height: auto;
    max-width: 500px;
    max-height: 500px;
}

button{
    cursor: pointer;
    display: block;
    margin: 2rem auto;
    background-color: #800080;
    color: white;
    border: none;
    border-radius: 2rem;
    font-size: 2rem;
    padding: 1rem 2rem;
    outline:none;
}